.move{
    overflow:hidden
}

.mycontent{
    margin-top:3% ;
}
.mycontent .my_row{
    transition: 1s;
    padding: 20px 0px 20px 0px;
    display:flex;
    flex-direction: row;
    transform:translateX(0%);
}

.my_container{
    display:flex;
    flex-direction: row;
}

.Live{
    background-color: #d23452;
    color:#fff;
    max-width: 120px;
    display: flex;
    flex-direction: row;
    height:30px;
    margin-left: 3%;
    border-radius: 5px;
    text-transform: uppercase;
}
.Live p{
    padding-right:10px;
    padding-top:5px;
    padding-left: 10px;
    padding-bottom:5px;
    font-weight: 700;
}

.fa-circle{
    font-size: 10px;
    padding-left:10px;
    padding-right:0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.heading{
    font-weight: 700;
    padding-left: 10px;
}

.form-buttons{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding-right: 3%;
}
.btn-left{
    background-color: #8ba0ad;
    border: none;
    border-radius:5px;
    padding:5px 15px 5px 15px ;

}
.fa-chevron-left{
        font-size: 12px;
        color:#fff;
}



.btn-right{
    background-color: #8ba0ad;
    border: none;
    border-radius:5px;
    padding:5px 15px 5px 15px ;
    margin-left: 20px;
}

.fa-chevron-right{
    font-size: 12px;
    color:#fff;
}